createGroup="The group {group} has been created."
createGroupAlreadyExist="The group {group} already exist."
createPromotion="The promotion {promotion} has been created."
createPromotionAlreadyExist="The promotion {promotion} already exist."
setDefaultGroup="The default group is now {group}."
setDefaultSuffix="The default suffix is now {suffix}."
deleteGroup="To delete the group {group} {clickHere}."
deleteGroupConfirmed="The group {group} has been deleted."
deletePromotion="To delete the promotion {promotion} {clickHere}."
deletePromotionConfirmed="The promotion {promotion} has been deleted."
setGroupName="The group {group} is now named {newName}."
setGroupNameSameName="The group {group} is already named {name}."
setGroupRank="The rank of {group} is now {rank}."
removePlayerSuffix="You have removed the suffix of {player}."
setPlayerSuffix="The suffix of {player} is now {suffix}."
setPlayerData="You have set the the value {key} of {player} to {value}."
setPlayerDataWorld="You have set the the value {key} of {player} to {value} in the world {world}."
promotePlayer="You promote {player} as {promotion}."
promotionAddGroupToAdd="You added the group {group} to add to the promotion {promotion}."
promotionAddGroupToRemove="You added the group {group} to remove to the promotion {promotion}."
promotionRemoveGroupToAdd="You removed the group {group} to add to the promotion {promotion}."
promotionRemoveGroupToRemove="You removed the group {group} to remove to the promotion {promotion}."
setPromotionName="The promotion {promotion} is now named {newName}."
setSavingInterval="The saving interval has been set to {minute} minute(s)."
setSavingIntervalCantLower1="The saving interval can't be lower than 1 minute."
subjectAddGroup="{subject} now inherit of the group {group} globally."
subjectAddGroupWorld="{subject} now inherit of the group {group} in the world {world}."
subjectAddGroupSameSubject="{subject} can't inherit of himself."
subjectAddGroupAlreadyInGroup="{subject} already inherit of the group {group}."
subjectSetPermission="{subject} has now the permission {permission} to {value} globally."
subjectSetPermissionWorld="{subject} has now the permission {permission} to {value} in the world {world}."
subjectSetPrefix="The prefix of {subject} is now {prefix}."
subjectRemovePrefix="You have removed the prefix of {subject}."
subjectRemovePermission="{subject} no longer has the permission {permission} globally."
subjectRemovePermissionWorld="{subject} no longer has the permission {permission} in the world {world}."
subjectRemovePermissionDoesntHavePerm="{subject} doesn't have the permission {permission}."
subjectRemoveGroup="{subject} no longer inherit the group {group}."
subjectRemoveGroupDoesntHaveGroup="{subject} doesn't inherit of the group {group}."
clickHere="click here"
actionNoLongerPossible="This action is no longer possible."
