createGroup="The group {group} has been created."
createGroupAlreadyExist="The group {group} already exist."
createPromotion="The promotion {promotion} has been created."
createPromotionAlreadyExist="The promotion {promotion} already exist."
setDefaultGroup="The default group is now {group}."
setDefaultSuffix="The default suffix is now {suffix}."
deleteGroup="To delete the group {group} {clickHere}."
deleteGroupConfirmed="The group {group} has been deleted."
deletePromotion="To delete the promotion {promotion} {clickHere}."
deletePromotionConfirmed="The promotion {promotion} has been deleted."
clickHere="click here"
