createGroup="Le groupe {group} a été créé."
createGroupAlreadyExist="Le groupe {group} existe déjà."
createPromotion="La promotion {promotion} a été créée."
createPromotionAlreadyExist="La promotion {promotion} existe déjà."
setDefaultGroup="Le groupe par défaut est maintenant {group}."
setDefaultSuffix="Le suffix par défaut est maintenant {suffix}."
deleteGroup="Pour effacer le groupe {group} {clickHere}."
deleteGroupConfirmed="Le groupe {group} a été effacé."
deletePromotion="Pour effracer la promotion {promotion} {clickHere}."
deletePromotionConfirmed="La promotion {promotion} a été effacée."
setGroupName="Le groupe {group} se nomme maintenant {newName}."
setGroupNameSameName="Le groupe {group} se nomme déjà {name}."
setGroupRank="Le rang de {group} est maintenant {rank}."
removePlayerSuffix="Vous avez enlevé le suffix de {player}."
setPlayerSuffix="Le suffix de {player} est maintenant {suffix}."
setPlayerData="Vous avez modifié la valeur {key} de {player} à {value}."
setPlayerDataWorld="Vous avez modifié la valeur {key} de {player} à {value} dans le monde {world}."
promotePlayer="Vous avez promu {player} comme {promotion}."
promotionAddGroupToAdd="Vous avez ajouté le groupe {group} a être ajouté à la promotion {promotion}."
promotionAddGroupToRemove="Vous avez ajouté le groupe {group} a être enlevé à la promotion {promotion}."
promotionRemoveGroupToAdd="Vous avez enlevé le groupe {group} a être ajouté à la promotion {promotion}."
promotionRemoveGroupToRemove="Vous avez enlevé le groupe {group} a être enlevé à la promotion {promotion}."
setPromotionName="La promotion {promotion} se nomme maintenant {newName}."
setSavingInterval="L'interval de sauvegarde est maintenant au {minute} minute(s)."
setSavingIntervalCantLower1="L'interval de sauvegarde peut pas être plus bas que 1 minute."
subjectAddGroup="{subject} hérite maintenant du groupe {group} globallement."
subjectAddGroupWorld="{subject} hérite maintenant du groupe {group} dans le monde {world}."
subjectAddGroupSameSubject="{subject} ne peut pas hériter de lui même."
subjectAddGroupAlreadyInGroup="{subject} hérite déjà du groupe {group}."
subjectSetPermission="{subject} a maintenant la permission {permission} à {value} globallement."
subjectSetPermissionWorld="{subject} a maintenant la permission {permission} à {value} dans le monde {world}."
subjectSetPrefix="Le prefix de {subject} est maintenant {prefix}."
subjectRemovePrefix="Vous avez enlevé le prefix de {subject}."
subjectRemovePermission="{subject} n'a plus la permission {permission} globallement."
subjectRemovePermissionWorld="{subject} n'a plus la permission {permission} dans le monde {world}."
subjectRemovePermissionDoesntHavePerm="{subject} n'a pas la permission {permission}."
subjectRemoveGroup="{subject} n'hérite plus du groupe {group}."
subjectRemoveGroupDoesntHaveGroup="{subject} n'hérite pas du groupe {group}."
clickHere="cliquer ici"
actionNoLongerPossible="Cette action n'est plus disponible."
