createGroup="?????? ? ????????? {group} ??????? ???????."
createGroupAlreadyExist="?????? {group} ??? ??????????."
createPromotion="????????? {promotion} ??????? ??????."
createPromotionAlreadyExist="????????? {promotion} ??? ??????????."
setDefaultGroup="?????? {group} ??????????? ??? ?????? ?? ?????????."
setDefaultSuffix="??????? {suffix} ?????????? ??? ??????? ?? ?????????."
deleteGroup="??? ???????? ?????? {group} {clickHere}."
deleteGroupConfirmed="?????? {group} ???????."
deletePromotion="??? ???????? ?????????? {promotion} {clickHere}."
deletePromotionConfirmed="????????? {promotion} ??????."
setGroupName="????? ??? ?????? {group}: {newName}."
setGroupNameSameName="?????? {group} ??? ??????? ??? {name}."
setGroupRank="???? ??? ?????? {group} ??????????: {rank}."
removePlayerSuffix="?? ??????? ??????? ?????? {player}."
setPlayerSuffix="??????? ??? ?????? {player} ??????????: {suffix}."
setPlayerData="???????? ??? {key} ?????? {player} ??????????? ? {value}."
setPlayerDataWorld="???????? ??? {key} ?????? {player} ??????????? ? {value} ??? ???? {world}."
promotePlayer="?? ???????? ?????? {player} ?? {promotion}."
promotionAddGroupToAdd="?? ???????? ?????? {group} ??? ????????? ?? ??? ? ?????????? {promotion}."
promotionAddGroupToRemove="?? ???????? ?????? {group} ??? ????????? ? ?????????? {promotion}."
promotionRemoveGroupToAdd="?? ??????? ?????? {group} ??? ????????? ?? ??? ? ?????????? {promotion}."
promotionRemoveGroupToRemove="?? ??????? ?????? {group} ??? ????????? ? ?????????? {promotion}."
setPromotionName="????? ??? ?????????? {promotion}: {newName}."
setSavingInterval="???????? ????? ???????????? ?????????? ? {minute} minute(s)."
setSavingIntervalCantLower1="??????????? ???????? ????? ????????????: 1 ??????."
subjectAddGroup="{subject} ?????? ????????? ?????? {group}."
subjectAddGroupWorld="{subject} ?????? ????????? ?????? {group} ? ???? {world}."
subjectAddGroupSameSubject="{subject} ?? ????? ??????????? ??? ????."
subjectAddGroupAlreadyInGroup="{subject} ??? ????????? ?????? {group}."
subjectSetPermission="????? {permission} ??????? ??????????? ??? ??????? {subject} ? ???????? {value} ???????????."
subjectSetPermissionWorld="????? {permission} ??????? ??????????? ??? ??????? {subject} ? ???????? {value} ??? ???? {world}."
subjectSetPrefix="??????? ??? ??????? {subject} ??????????: {prefix}."
subjectRemovePrefix="?? ??????? ??????? ??????? {subject}."
subjectRemovePermission="{subject} ?????? ?? ????? ????? {permission}."
subjectRemovePermissionWorld="{subject} ?????? ?? ????? ????? {permission} ? ???? {world}."
subjectRemovePermissionDoesntHavePerm="? ??????? {subject} ??????????? ????? {permission}."
subjectRemoveGroup="?????? {subject} ?????? ?? ????????? ?????? {group}."
subjectRemoveGroupDoesntHaveGroup="?????? {subject} ??? ?? ??????????? ??????? {group}."
clickHere="??????? ?????"
actionNoLongerPossible="??? ???????? ????? ?? ????????."
