createGroup="Группа с названием {group} успешно создана."
createGroupAlreadyExist="Группа {group} уже существует."
createPromotion="Промоушен {promotion} успешно создан."
createPromotionAlreadyExist="Промоушен {promotion} уже существует."
setDefaultGroup="Группа {group} установлена как группа по умолчанию."
setDefaultSuffix="Суффикс {suffix} установлен как суффикс по умолчанию."
deleteGroup="Для удаления группы {group} {clickHere}."
deleteGroupConfirmed="Группа {group} удалена."
deletePromotion="Для удаления промоушена {promotion} {clickHere}."
deletePromotionConfirmed="Промоушен {promotion} удален."
setGroupName="Новое имя группы {group}: {newName}."
setGroupNameSameName="Группа {group} уже названа как {name}."
setGroupRank="Ранг для группы {group} установлен: {rank}."
removePlayerSuffix="Вы удалили суффикс игрока {player}."
setPlayerSuffix="Суффикс для игрока {player} установлен: {suffix}."
setPlayerData="Значение для {key} игрока {player} установлено в {value}."
setPlayerDataWorld="Значение для {key} игрока {player} установлено в {value} для мира {world}."
promotePlayer="Вы повысили игрока {player} до {promotion}."
promotionAddGroupToAdd="Вы добавили группу {group} для повышения до нее в промоушене {promotion}."
promotionAddGroupToRemove="Вы добавили группу {group} для понижения в промоушене {promotion}."
promotionRemoveGroupToAdd="Вы удалили группу {group} для повышения до нее в промоушене {promotion}."
promotionRemoveGroupToRemove="Вы удалили группу {group} для понижения в промоушене {promotion}."
setPromotionName="Новое имя промоушена {promotion}: {newName}."
setSavingInterval="Интервал между сохранениями установлен в {minute} minute(s)."
setSavingIntervalCantLower1="Минимальный интервал между сохранениями: 1 минута."
subjectAddGroup="{subject} теперь наследует группу {group}."
subjectAddGroupWorld="{subject} теперь наследует группу {group} в мире {world}."
subjectAddGroupSameSubject="{subject} не может наследовать сам себя."
subjectAddGroupAlreadyInGroup="{subject} уже наследует группу {group}."
subjectSetPermission="Право {permission} успешно установлено для объекта {subject} в значение {value} повсеместно."
subjectSetPermissionWorld="Право {permission} успешно установлено для объекта {subject} в значение {value} для мира {world}."
subjectSetPrefix="Префикс для объекта {subject} установлен: {prefix}."
subjectRemovePrefix="Вы удалили префикс объекта {subject}."
subjectRemovePermission="{subject} больше не имеет права {permission}."
subjectRemovePermissionWorld="{subject} больше не имеет права {permission} в мире {world}."
subjectRemovePermissionDoesntHavePerm="У объекта {subject} отсутствует право {permission}."
subjectRemoveGroup="Объект {subject} больше не наследует группу {group}."
subjectRemoveGroupDoesntHaveGroup="Объект {subject} еще не наследуется группой {group}."
clickHere="нажмите здесь"
actionNoLongerPossible="Это действие более не доступно."
